/*NAV*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
	/*font-family: "Raleway";*/
	font-family: 'Montserrat', sans-serif;
}

.navbar {
	background: #E9AC67;
	/*flex-direction: column;
align-items: flex-start;
height: fit-content;*/

}

.nav-link,
.navbar-brand {
	color: #3A3F58;
	cursor: pointer;
}

.nav-link {
	margin-right: 1em !important;
}

.nav-link:hover {
	background: #ECE6CD;
	color: #3A3F58;
}

.navbar-collapse {
	justify-content: flex-end;
}

.navbar-toggler {
	background: #fff !important;
}

.navbar-collapse {
	justify-content: flex-end;
}

.bg-dark {
	background-color: #ECE6CD !important
}

.bg-primary {
	background-color: #ECE6CD !important
}


/*header style*/
.header {
	min-height: 100vh;
	background-image: url('images/photo1.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}


.overlay {
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	left: 0;
	top: 0;
	background: rgba(244, 244, 244, 0.79);
}


.description {
	position: absolute;
	top: 30%;
	margin: auto;
	padding: 2em;

}

.description h3 {
	/*  font-size: 70px;
  font-weight: 400;*/
	background-image: linear-gradient(to left, #E9AC67, #3A3F58);
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;

	width: 30ch;
	white-space: nowrap;
	overflow: hidden;
	border-right: 4px solid orange;
	animation: flashing-border 0.75s step-end infinite,
		printed-text 5s ease;
}

@keyframes flashing-border {
	0% {
		border-color: orange;
	}

	50% {
		border-color: transparent;
	}

	100% {
		border-color: orange;
	}
}

@keyframes printed-text {
	from {
		width: 0;

	}
}

.description p {
	color: #3A3F58;
	font-size: 20px;
	width: 50%;
	line-height: 1.5;

}

.description button {
	border: 1px solid #EE6A59;
	background: #EE6A59;
	color: #ECE6CD;
}




/*MAIN*/


.about {
	margin: 4em 0;
	padding: 1em;
	position: relative;

}

.about h1 {
	color: #EE6A59;
	margin: 2em;
}

.about img {
	height: 100%;
	width: 100%;
	border-radius: 50%
}

.about span {
	display: block;
	color: #3A3F58;
	position: absolute;
	left: 115px;
}

.about .desc {
	padding: 2em;
	border-left: 4px solid #10828C;
}

.about .desc h3 {
	color: #EE6A59;
}

.about .desc p {
	line-height: 2;
	color: #888;
}


/*Portfolio*/
.portfolio {
	margin: 4em 0;
	position: relative;
}

.portfolio h1 {
	color: #EE6A59;
	margin: 2em;
}

.portfolio img {
	height: 15rem;
	width: 100%;
	margin: 1em;
}


.blog {
	margin: 4em 0;
	position: relative;
}

.blog h1 {
	color: #EE6A59;
	margin: 2em;
}

.blog .card {
	box-shadow: 0 0 20px #ccc;
}

.blog .card img {
	width: 100%;
	height: 12em;
}

.blog .card-title {
	color: #3A3F58;
}

.blog .card-body {
	padding: 1em;
}

.card-text {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}



.team {
	margin: 4em 0;
	position: relative;
}

.team h1 {
	color: #EE6A59;
	margin: 2em;
}

.team .item {
	position: relative;
}

.team .des {
	background: #EE6A59;
	color: #E9AC67;
	text-align: center;
	border-bottom-left-radius: 99%;
	transition: .3s ease-in-out;
}

.team .item:hover .des {
	height: 100%;
	font-size: 20px;
	background: rgba(236, 230, 205, 0.9);
	position: absolute;
	width: 97%;
	padding: 5em;
	top: 0;
	border-bottom-left-radius: 0;
}


.contact-form {
	margin: 6em 0;
	position: relative;
}

.contact-form h1 {
	padding: 2em 1px;
	color: #EE6A59;
}

.contact-form .right {
	max-width: 600px;
}

.contact-form .right .btn-secondary {
	background: #EE6A59;
	color: #3A3F58;
	border: 0;
}

.contact-form .right .form-control::placeholder {
	color: #3A3F58;
	font-size: 16px;
}


.randomizer-form {
	margin: 6em 0;
	position: relative;
	/*background-color: #ffffff;
  width: 85vw;
  max-width: 34em;
 
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 3em;
  border-radius: 0.5em;
*/
}

.randomizer-form h1 {
	padding: 1em 1px;
	color: #EE6A59;
	text-align: center;
}

label {
	font-size: 1em;
	font-weight: 600;
	color: #EE6A59;
}

input {
	display: block;
	max-width: 600px;
	font-size: 1.3em;
	border: none;
	color: #444b5f;
	border-bottom: 1.5px solid #242e4c;
	padding: 0.45em;
	margin-top: 0.45em;
	outline: none;
}

input:focus {
	border-color: #f5a623;
}

.randomizer-form button {
	display: block;

	/*max-width: 600px;*/
	font-size: 1.1em;
	margin: 2.7em 0 1.1em 0;

	padding: 0.8em 0;


	cursor: pointer;
	border: 1px solid #EE6A59;
	background: #EE6A59;
	color: #3A3F58;

}

.randomNumEl {
	text-align: center;
		font-size: 3.7em;
		font-size: 600;
		color: red;
}

.result {
	text-align: left;
	font-size: 3.7em;
	font-size: 600;
	color: #3A3F58;
}